.navbar{
    width: 100%;
}
.navbar-content{
    width: 85%;
    margin: auto;
}
.list-nav{
    display: flex;
    justify-content: space-between;
}

.form{
    width: 576px;
}
.grid-check{
    grid-template-columns: auto auto !important;
}